# Ignora file con credenziali e variabili d'ambiente
.env

# Ignora eventuali file temporanei di Word
~$*.docx
*.docx

# Ignora cache Python
__pycache__/
*.pyc

# Ignora file di Word e di testo
*.doc
*.docx
*.csv
elenco*.txt

# Ignora cartella backup, file e cartelle di compilazione
backup/
build/
dist/
*.spec